 <html>
        <head>
            <title>Taehee's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Taehee's blog</a></h1>
            </div>
                <div>
                <p>published: </p>
                <h2><a href="">My first post</a></h2>
                <p>abcdefghijklmnopqrstuvwxyz</p>
            </div>
            <div>
                <p>published: </p>
                <h2><a href="">My second post</a></h2>
                <p>abcdefghijklmnopqrstuvwxyz</p>
            </div>
        </body>
    </html>
    